#homepage{
    width: 100%;
    height: 50vh;
}
#about{
  padding-top: 50px;
}


/* Contact form */
.footer-paralax {
    padding: 4rem 0 0 0;
    padding-bottom: 50px;
  }
  
  .contact-mf {
    margin-top: 4rem;
  }

.contactForm{
    display: flex ;
    justify-content: center;
    align-content: center ;
    align-items: center ;
    align-items: center ;
}

.button {
    display: inline-block;
    padding: .3rem .6rem;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem;
    border-radius: .3rem;
    border: 1px solid transparent;
    transition: all 500ms ease;
    cursor: pointer;
  }


#sendmessage {
 color: #0078ff;
 border: 1px solid #0078ff;
 display: none;
 text-align: center;
 padding: 15px;
 font-weight: 600;
 margin-bottom: 15px;
}

#errormessage {
 color: red;
 display: none;
 border: 1px solid red;
 text-align: center;
 padding: 15px;
 font-weight: 600;
 margin-bottom: 15px;
}

#sendmessage.show,
#errormessage.show,
.show {
 display: block;
}

.validation {
 color: red;
 display: none;
 margin: 0 0 20px;
 font-weight: 400;
 font-size: 13px;
}

/* Credit Repair Section */

#credit{
  padding-top: 50px;
  padding-bottom: 50px;
}

/* Parallax2 */
#parallax2{
  background: url(/img/blue-arrow-bg.jpg);
  background-size:  cover;
  width: 100%;
  height: 40vh;
  background-attachment: fixed;
  background-position: center center;
}